<div class="pagination-section">
	{{#if next}}
	<div class="pagination-wrap">
		<a href="{{page_url next}}" id="next-page"></a>
		<button class="global-button">{{t "Load more"}}</button>
	</div>
	{{/if}}
</div>