{{! Detailed instructions can be found in the Documentation >> Activation >> Special sections }}

{{!--
{{#get "posts" limit="4" filter="tag:XXXXX" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts}}
	{{>sections_item label="XXXXX"}}
	{{/foreach}}
</div>
{{/get}}
--}}
