{{! Detailed instructions can be found in the Documentation >> Activation >> Special sections }}


{{#get "posts" limit="3" filter="tag:blog" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts}}
	{{>sections_item label="blog"}}
	{{/foreach}}
</div>
{{/get}}
{{#get "posts" limit="3" filter="tag:stream" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts}}
	{{>sections_item label="stream"}}
	{{/foreach}}
</div>
{{/get}}

