{{!< default}}
<div class="custom-error custom-wrap">
	<div class="custom-container">
		<div class="custom-content">
			<h1>{{statusCode}}</h1>
			<p>{{message}}</p>
			<a href="{{@site.url}}" class="global-button">{{t "Back to homepage"}}</a>
		</div>
	</div>
</div>